.name_drink {
  font-size: 14px;
  color: black;
}
.name_drink:hover {
  text-decoration: underline;
  color: black;
}
.site-drawer-render-in-current-wrapper {
  background: #fafafa;
  border-radius: 2px;
}
